{
    "extends": "@bravo68web/eslint-config/backend",
    "rules": {
        "unicorn/filename-case": [
            "error",
            {
                "case": "camelCase"
            }
        ]
    }
}
